<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <% if (files != null) {%>
          <h2>Files</h2>
          <% for (var i = 0; i < files.length; i++) {%>
          <% if (files[i].isFolder) {%>
            <a href=<%=files[i].url%>>
              <%= files[i].name %>
           </a>
          <% } else { %>
            <a target="_blank" href=<%=files[i].url%>>
              <%= files[i].name %>
           </a>
          <% } %>  
          </br>
        <% } }%>
      </fieldset>
    </div>
  </body>
</html>